{% extends 'base.html.twig' %}

{% block body %}

{% if not app.user %}
<p>Connectez-vous avec un compte "Technicien de laboratoire" pour effectuer cette opération</p>
{% elseif app.user.poste == "Technicien de laboratoire"  %}

<!-- Welcome Area Starts -->

                    <form class="form-header"  method="request" action="{{ path('search_pochesenattente') }} ">
                        <input class="au-input au-input--xl" type="text" name="search" placeholder="N°Ordre ??">
                        <button class="au-btn--submit" type="submit"><i class="zmdi zmdi-search"></i></button>
                    </form>
<br><br><br>
     <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        
                                            <th scope="col">Date</th>
                                            <th scope="col">N° ordre</th>
                                            <th scope="col">Congelateur</th>

                                            <th scope="col">Cin donneur </th>
                                            <th scope="col">Donneur</th>
                                            <th scope="col">Type</th>
                                            
                                            <th scope="col"></th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for poche in poches %}
                                            

                                                {% if poche.statut == "Poche en attente" %}
                                                    <tr>
                                                        <td scope="col">{{ poche.Date|date ('d/m/y à H:i')  }}</td>
                                                        <th scope="row">{{ poche.NOrdre }}</th>
                                                        {% for cong in congelateur %}
                                                        {% if cong == poche.Congelateur %}
                                                            <td  scope="col">{{ cong.NumCong }}.{{ cong.Type }}</td>
                                                        {% endif %}
                                                        {% endfor %}
                                                        <th scope="row">{{ poche.CinDonneur }}</th>
                                                        <td scope="col">{{ poche.NomDonneur }} {{ poche.PrenomDonneur}}</td>
                                                        <td  scope="col">{{ poche.Type }}</td>
                                                        

                                                        <td><button type="button" class="btn btn-danger" onclick="window.location.href='/poche/mettre/a/jour/statut/poche/{{ poche.id }}'">Mettre a jour statut poche</button></td>
                                                    </tr>
                                                {% endif %}    
                                            
                                    {% endfor %}

                                    </tbody>
                                 </table>
                              
                    </div>

    <!-- Welcome Area End -->


{% else %}
<p>Vos droits d'utilisateur sont insuffisants pour l'opération demandée!</p>
{% endif %}
{% endblock %}
