{% extends 'base.html.twig' %}

{% block body %}

{% if not app.user %}
<p>Connectez-vous avec un compte "Technicien de laboratoire" pour effectuer cette opération</p>
{% elseif app.user.poste == "Technicien de laboratoire"  %}

<!-- Welcome Area Starts -->

                    
<div class="panel panel-default">
                                <div class="panel-heading ui-draggable-handle">
                                    <h3 class="panel-title">Liste des poches de sang en stock </h3>
                                    <div class="pull-right">
                                        <button class="btn btn-info toggle" onclick="window.location.href='/poche/en/stock/new'"><i class="zmdi zmdi-plus"></i> Ajouter poche</button>
                                    </div>
                                </div>
                                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer">
                                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">                               
                                        <form role="form"  method="request" action="{{ path('search_pochesenattente') }} ">
                                                <div class="input-group">
                                                    <input type="text" class="form-control"  name="search" placeholder="groupe sanguin ?? Préleveur (cin, nom et prénom)??">
                                                    <span class="input-group-addon" type="submit">chercher</span>
                                                </div>
                                        </form>
                                    </div>                                 
                                </div>

                                <div class="panel-body">
                                    <table id="customers" class="table table-striped">
                                
                                        <thead>
                                            <tr>
                                        
                                            <th scope="col">Date</th>
                                            <th scope="col">N° ordre</th>
                                            <th scope="col">Congelateur</th>

                                            <th scope="col">Cin donneur </th>
                                            <th scope="col">Donneur</th>
                                            <th scope="col">Type</th>
                                            
                                            <th scope="col"></th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for poche in poches %}
                                            

                                                {% if poche.statut == "Poche en attente" %}
                                                    <tr>
                                                        <td scope="col">{{ poche.Date|date ('d/m/y à H:i')  }}</td>
                                                        <th scope="row">{{ poche.NOrdre }}</th>
                                                        {% for cong in congelateur %}
                                                        {% if cong == poche.Congelateur %}
                                                            <td  scope="col">{{ cong.NumCong }}.{{ cong.Type }}</td>
                                                        {% endif %}
                                                        {% endfor %}
                                                        <th scope="row">{{ poche.CinDonneur }}</th>
                                                        <td scope="col">{{ poche.NomDonneur }} {{ poche.PrenomDonneur}}</td>
                                                        <td  scope="col">{{ poche.Type }}</td>
                                                        

                                                        <td><button type="button" class="btn btn-warning" onclick="window.location.href='/poche/mettre/a/jour/statut/poche/{{ poche.id }}'">Mettre a jour statut poche</button></td>
                                                    </tr>
                                                {% endif %}    
                                            
                                    {% endfor %}

                                    </tbody>
                                 </table>
                              
                    </div>

    <!-- Welcome Area End -->


{% else %}
<p>Vos droits d'utilisateur sont insuffisants pour l'opération demandée!</p>
{% endif %}
{% endblock %}
