{% extends 'base.html.twig' %}

{% block body %}


{% if not app.user %}
<p>Connectez-vous avec un compte "Technicien de laboratoire" pour effectuer cette opération</p>
{% elseif app.user.poste == "Technicien de laboratoire"  %}

<!-- Welcome Area Starts -->
                            <div class="panel panel-default">
                                <div class="panel-heading ui-draggable-handle">
                                    <h3 class="panel-title">La liste des testes de compatibilité</h3>
                                    
                                </div>
                                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer">
                                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">                               
                                        <form role="form"  method="request" action="{{ path('search_tc') }}">
                                                <div class="input-group">
                                                    <input type="text" class="form-control"  name="search" placeholder="malade (cin, nom et prénom ))?? Agent (cin, nom et prénom)??">
                                                    <span class="input-group-addon" type="submit">chercher</span>
                                                </div>
                                        </form>
                                    </div>                                 
                                </div>

                                <div class="panel-body">
                                    <table id="customers" class="table table-striped">
                                
                                        <thead>
        
                                        <tr>
                                        <th scope="col">N°test</th>
                                        <th scope="col">Date</th>
                                        

                                        <th scope="col">Cin Agent</th>
                                        <th scope="col">Agent</th>
                                        <th scope="col">Service</th>
                                        <th scope="col">N°Dossier</th>
                                        <th scope="col">Nom et prénom malade</th>
                                        <th scope="col">Cin malade</th>
                                        <th scope="col">CG</th>
                                        <th scope="col">Reserve</th>
                                        <th scope="col">P.testées</th>
                                        <th scope="col">P.Deliverées</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for tc in testCompatibilite %}
                                        {% for demande in demandes %}
                                            {% if demande.id == tc.Demande.id %}
                                                <tr>
                                                    <th scope="row">{{ tc.Id }}</th>
                                                    <td scope="col">{{ tc.Date|date ('d/m/y à H:i')  }}</td>
                                                    {% for user in users %}
                                                        {% if user == tc.User %}
                                                            <td  scope="col">{{ user.NUMCIN }}</td>
                                                            <td scope="col">{{ user.Username }}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for service in services %}
                                                        {% if service == demande.service %}
                                                            <td  scope="col">{{ service.NomService }}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for malade in malades %}
                                                        {% if malade == demande.Malade %}
                                                            <td>{{ malade.NDossier }}</td>
                                                            <td>{{ malade.Malade }}</td>
                                                            <td>{{ malade.NumeroCin }}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <td>{{ demande.NombrePoche }} {{ demande.Type }}</td>
                                                    <td>{{ tc.Reserve }}</td>
                                                    <td>{{ tc.PTestees }}</td>
                                                    <td>{{ tc.PDeliverees }}</td>
                                                    <td><button type="button" class="btn btn-warning" onclick="window.location.href='/tc/edit/{{ tc.id }}'">Modifier</button></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}

                            </tbody>
                        </table>
                               
                    </div>
    <!-- Welcome Area End -->
{% else %}
<p>Vos droits d'utilisateur sont insuffisants pour l'opération demandée!</p>
{% endif %}
{% endblock %}