{% extends 'base.html.twig' %}
{% form_theme formpochetech 'bootstrap_4_layout.html.twig'%}

 
{% block body %}


<h1> création d'une poche entree  ! </h1>
{{ form_start(formpochetech) }}
{{form_row(formpochetech.N_ordre, {'attr' : {'placeholder' :"Votre N°cin"}} )}}

{{form_row(formpochetech.CinTech, {'attr' : {'placeholder' :"Votre N°cin"}} )}}
{{form_row(formpochetech.UsernameTech, {'attr' : {'placeholder' :"Votre nom et prénom"}} )}}
<button type = "submit" class="btn btn-secondary btn-lg btn-block"> Enregistrer  </buttton>
{{form_end(formpochetech)}}
 {% endblock %}