{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <form class="form-inline my-2 my-lg-0"  method="request" action="{{ path('search_poche_st') }} ">
        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Chercher">
        <button class="btn btn-secondary my-2 my-sm-0"  type="submit">Chercher</button>
    </form>
    <br>
    <br>
    <br>

    <br>
    <br>
<div>
  <h3>Les poches en stock:</h3>
  
    <br>

    <br>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">N° ordre</th>
                        <th scope="col">A utiliser avant</th>
                        <th scope="col">N°cin donneur </th>
                        <th scope="col">Nom & Prenom donneur</th>
                        <th scope="col">GS</th>
                        <th scope="col">Type</th>

                        <th></th>
                        <th scope="col">Actions</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>


                    {% for pocheentree in pochesentrees %}
                    {% if  pocheentree.AUtiliserAvant <= pocheentree.Date %}
                        <tr class="text-danger">
                    {% elseif pocheentree.AUtiliserAvant < date('+7days') %}
                        <tr class="text-warning">
                    {% endif %} 
                                <td scope="col">{{ pocheentree.Date|date ('d/m/y à H:i')  }}</td>
                                <td scope="row">{{ pocheentree.NOrdre }}</td>
                                <td scope="row">{{ pocheentree.AUtiliserAvant|date ('d/m/y à H:i') }}</td>

                                <td scope="row">{{ pocheentree.CinDonneur }}</td>
                                <td scope="row">{{ pocheentree.NomDonneur }} {{ pocheentree.PrenomDonneur }}</td>

                                <td  scope="col">{{ pocheentree.GS }}</td>
                                <td  scope="col">{{ pocheentree.type }}</td>

                                <td><button type="button" class="btn btn-secondary" onclick="">poche reservée</button></td>
                                <td><button type="button" class="btn btn-primary" onclick="">poche pririmée</button></td>
                                <td><button type="button" class="btn btn-secondary" onclick="">Poche Sortée</button></td>
                            </tr>
                   {% endfor %}
                </tbody>
            </table>  
      
    </section>
</div>
{% endblock %}