{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron">

<h1 class="display-3">Information du donneur </h1>
    {% if donneur %}
    <h1>{{ donneur.nom }} {{  donneur.prenom }}</h1>

    <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="col">Nom & prénom du donneur:{{ donneur.nom }} {{  donneur.prenom }}</th>
          <th scope="col">Sexe :{{ donneur.sexe }}</th>

        </tr>
        <tr> 
          <th scope="col">Nom & prénom du pére: {{ donneur.PrenomPere }}</th>
          <th scope="col">Nom & prénom du mére: {{ donneur.PrenomMere }}</th>
        </tr>
        <tr>
          <th scope="col">Date de naissance: {{ donneur.DateDeNaissance|date ('d/m/y') }}</th>
          <th scope="col">Etat civil : {{ donneur.EtatCivil }}</th>
        </tr>

        <tr> 
          <th scope="col">Numéro carte CIN: {{ donneur.NUMCIN }}</th>
          <th scope="col">Adresse compléte: {{ donneur.AdresseComplete }}</th>
        </tr>
        <tr>
          <th scope="col">Numéro du téléphone: {{ donneur.NumeroTelephone }}</th>
          <th scope="col">Profession: {{ donneur.Profession }}</th>
        </tr>
        <tr> 
          <th scope="col">L'origine du donneur: {{ donneur.Origine }}</th>
          <th scope="col">Dons anterieurs: {{ donneur.DonsAnterieurs }}</th>
        </tr>
        <tr>
          <th scope="col">Nombre de Dons antérieur volontaire: {{ donneur.DonsAnterieursVolontaires }}</th>
          <th scope="col">Nombre de Dons antérieur Familiaux: {{ donneur.DonsAnterieursFamiliaux }}</th>
        </tr>
        <tr> 
          <th scope="col">Donneur convocable: {{ donneur.DonneurConvocable }}</th>
          <th scope="col">Dernier don à: {{ donneur.DateDuDernierDon|date ('d/m/y à H:i')  }}</th>
        </tr>
      {% for user in users%}
  
        {% if user.id == donneur.IdUser %}
          <th scope="col">Nom & prenom d'agent: {{ user.username }}</th>
          <th scope="col">Cin d'agent: {{ user.NUMCIN }} </th> 
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
      <hr class="my-4">
        <em>Résultat de don: {{ donneur.Donvalide }}</em>
    {% endif %}

    <h1 class="display-3">Fiche medicale</h1>
    <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="col">Nom & prénom du donneur:{{ fichemedicale.nom }} {{  fichemedicale.prenom }}</th>
          <th scope="col">ApteInapte: {{ fichemedicale.ApteInapte }}</th>      
        </tr>
        
        <tr> 
          <th scope="col">Numéro carte CIN: {{ fichemedicale.NumeroCIN }}</th>
          <th scope="col">date de naissance: {{ fichemedicale.DateDeNaissance|date ('d/m/y') }}</th>
        </tr>
        <tr>
          <th scope="col">taille: {{ fichemedicale.taille }}</th>
          <th scope="col">poids: {{ fichemedicale.poids }}</th>
        </tr>
        <tr> 
          <th scope="col">Le groupe: {{ fichemedicale.groupe }}</th>
          <th scope="col">DRAA: {{ fichemedicale.RAA }}</th>
        </tr>
        <tr>
          <th scope="col">Paludisme: {{ fichemedicale.Paludisme }}</th>
          <th scope="col">Maladie pulmonaire: {{ fichemedicale.Maladiepulmonaire }}</th>
        </tr>
        <tr> 
          <th scope="col">Ictere: {{ fichemedicale.Ictere }}</th>
          <th scope="col">Diabete: {{ fichemedicale.Diabete }}</th>
        </tr>
        <tr> 
          <th scope="col">Autre: {{ fichemedicale.Autre }}</th>
          <th scope="col">T_A: {{ fichemedicale.TA }}</th>
        </tr>    
        <tr> 
          <th scope="col">Coeur: {{ fichemedicale.Coeur }}</th>
          <th scope="col">Appariel Respiratoire: {{ fichemedicale.ApparielRespiratoire }}</th>
        </tr>    <tr> 
          <th scope="col">Foie: {{ fichemedicale.Foie }}</th>
          <th scope="col">Rate: {{ fichemedicale.Rate }}</th>
        </tr>
        <tr> 
          <th scope="col">Systeme nerveux: {{ fichemedicale.SystemeNerveux }}</th>
          <th scope="col">Observations: {{ fichemedicale.Observations }}</th>
        </tr>
        <tr> 
      {% for user in users%}
        {% if user.id == fichemedicale.IdUser %}
          <th scope="col">Nom & prenom du medecin: {{ user.username }}</th>
          <th scope="col">Cin du Medecin: {{ user.NUMCIN }} </th> 
        {% endif %}
      {% endfor %}
        </tr>
      </tbody>
    </table>
{% for serologie in serologies %}
<h1 class="display-3">Les Sérologies</h1>

  <p class="lead">Date: {{ serologie.DateDeJour|date ('d/m/y à H:i')  }} </p>
  <p class="lead">N° ordre: {{ serologie.NOrdre }}</p>
  <p class="lead">A utiliser avant: {{ serologie.AUtiliserAvant|date ('d/m/y à H:i') }}</p>
  <p class="lead">N°cin du donneur: {{ serologie.CinDonneur }}</p>
  <p class="lead">Nom & Prenom donneur: {{ serologie.NomDonneur }} {{ serologie.PrenomDonneur }}</p>
  <p class="lead">GS: {{ serologie.GroupeSanguins }}</p>
  <p class="lead">AGHBR: {{ serologie.AGHBR }} </p>
  <p class="lead">ACHCV: {{ serologie.ACHCV }} </p>
  <p class="lead">TPHA: {{ serologie.TPHA }}</p>
  <p class="lead">HIV: {{ serologie.HIV }}</p>
  <p class="lead">Resultat Serologie: {{ serologie.ResultatSerologie }}</p>
{% for user in users %}
  {% if user.id == serologie.IdUser1 %}
    <p class="lead">Technicien 1: {{ user.NUMCIN }} : {{ user.Username }}</p>
  {% elseif user.id == serologie.IdUser2 %}
   <p class="lead">Technicien 2: {{ user.NUMCIN }} : {{ user.Username }}</p>
  {% endif %}
{% endfor %}
{% if serologie.Statut == 1 %}
    <td><button type="button" class="btn btn-primary" onclick="window.location.href='/serologie/show/{{ serologie.id }}'">Afficher</button></td>
    <td><button type="button" class="btn btn-secondary" onclick="window.location.href='/serologie/termnier/{{ serologie.id }}'">Terminer</button></td>
    {% if serologie.ResultatSerologie == " " %}
      <td><button type="button" class="btn btn-primary" onclick="window.location.href='/serologie/{{ serologie.id }}/edit'">Modifier </button></td>
    {% endif %}
{% endif %}
{% endfor %}
 <section class="donneur">
    <h1 class="display-3"> Poche en attente</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">N° ordre</th>
                        <th scope="col">N°cin donneur </th>
                        <th scope="col">Nom & Prenom donneur</th>
                        <th scope="col">Type de poche</th>
                        <th scope="col">Nom et prénom du préleveur</th>
                        <th scope="col">Cin du préleveur</th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>

                                <tr>
                                    <td scope="col">{{ PocheEnAttente.Date|date ('d/m/y à H:i')  }}</td>
                                    <th scope="row">{{ PocheEnAttente.NOrdre }}</th>
                                    <th scope="row">{{ PocheEnAttente.CinDonneur }}</th>
                                    <td scope="col">{{ PocheEnAttente.NomDonneur }} {{ PocheEnAttente.PrenomDonneur}}</td>
                                    <td  scope="col">{{ PocheEnAttente.Type }}</td>
                                  {% for user in users %}
                                    {% if user.id == PocheEnAttente.IdUser %}
                                      <td  scope="col">{{ user.username }}</td>
                                      <td  scope="col">{{ user.NUMCIN}}</td>
                                    {% endif %}
                                  {% endfor %}
                                  {% if PocheEnAttente.Statut == 1 %}
                                    <td><button type="button" class="btn btn-primary" onclick="">Invalide</button></td>
                                    <td><button type="button" class="btn btn-secondary" onclick="window.location.href='/poche/en/stock/{{ PocheEnAttente.id }}'">Valide</button></td>
                                  {% endif %}
                               </tr>
                            
                        

                </tbody>
            </table>  
      
    </section>
    <h1 class="display-3">Poche entree</h1>
    {% if pocheentree %}

        <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">N° ordre</th>
                                <th scope="col">A utiliser avant</th>
                                <th scope="col">N°cin donneur </th>
                                <th scope="col">Nom & Prenom donneur</th>
                                <th scope="col">GS</th>
                                <th scope="col">Type</th>
                                <th scope="col">Nom & Prenom & N°Cin technicien</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col">{{ pocheentree.Date|date ('d/m/y à H:i')  }}</td>
                                <th scope="row">{{ pocheentree.NOrdre }}</th>
                                <th scope="row">{{ pocheentree.AUtiliserAvant|date ('d/m/y à H:i') }}</th>
                                <th scope="row">{{ pocheentree.CinDonneur }}</th>
                                <td scope="col">{{ pocheentree.NomDonneur }} {{ pocheentree.PrenomDonneur }}</td>
                                <td  scope="col">{{ pocheentree.GS }}</td>
                                <td  scope="col">{{ pocheentree.Type }}</td>
                                {% for user in users%}
                                {% if user.id == pocheentree.IdUser %}
                                <td  scope="col">{{ user.username }} {{ user.NUMCIN }}</td>
                                {% endif %}
                                {% endfor %}

                                <td><button type="button" class="btn btn-secondary" onclick="">Poche reservée</button></td>
                                <td><button type="button" class="btn btn-primary" onclick="">Poche pririmée </button></td>
                                <td><button type="button" class="btn btn-secondary" onclick="">Poche Sortée</button></td>
                            </tr>
        </table>
       <button type="button" class="btn btn-secondary" onclick="">Teste de compatibilité</button>

    {% endif %}

</div>
 {% endblock %}