{% extends 'base.html.twig' %}


{% block body %}


{% if not app.user %}
<p>Connectez-vous pour effectuer cette opération</p>
{% elseif is_granted('ROLE_INFSER') or is_granted('ROLE_MEDSER') or  app.user.poste == "Technicien de laboratoire"  %}
                            <div class="panel panel-default">
                                <div class="panel-heading ui-draggable-handle">
                                    <h3 class="panel-title">Les demandes</h3>
                                    <div class="pull-right">
                                    </div>
                                </div>
                                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer"><table class="table datatable_simple dataTable no-footer" id="DataTables_Table_1" role="grid"> 
                                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">                               
                                        <form role="form"  method="request" action="{{ path('search_demande') }}">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="search" placeholder="Nom malade ?? (ou) Cin malade?? (ou) service ?? (ou) N° demande??">
                                                    <span class="input-group-addon" type="submit">chercher</span>
                                                </div>
                                        </form>
                                    </div>                                 
                                </div>

                                <div class="panel-body">
                                    <table id="customers" class="table table-striped">
                                
                                        <thead>
                                            <tr>
                       
                                                <th>N°demande</th>
                                                <th>Date</th>
                                                <th>Avant</th>
                                                <th>Type demande</th>
                                                <th>Type</th>
                                                <th>N° poches </th>
                                                <th>GS</th>
                                                <th>Sérum</th>
                                                <th>Malade</th>
                                                <th>N°Dossier</th>
                                                <th>Service</th>
                                                <th>Inférmiere</th>
                                                <th>Médecin</th>
                                                <th>Actions</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for demande in demandes %}
                                                {% if app.user.poste != "Technicien de laboratoire" %} 
                                                    {% if demande.reponse == " " %}
                                                        <tr class="text-danger">
                                                    {% else %}
                                                        <tr class="text-primary">
                                                    {% endif %}
                                                        <th scope="row">{{ demande.Id }}</th>
                                                        <td>{{ demande.DateDemande|date ('d/m/y à H:i') }}</td>
                                                        <td>{{ demande.DateUtilisation|date ('d/m/y à H:i') }}</td>
                                                        <td>{{ demande.TypeDemande }}</td>
                                                        <td>{{ demande.Type }}</td>
                                                        <td>{{ demande.NombrePoche }}</td>
                                                        <td>{{ demande.GS }}</td>
                                                        <td>{{ demande.serum }}</td>
                                                        {% for malade in malades %}
                                                            {% if malade == demande.Malade %}
                                                                <td>{{ malade.Malade }}: {{ malade.NumeroCin }}</td>
                                                                <td>{{ malade.NDossier }}</td>
                                                            {% endif %}
                                                        
                                                            {% for service in services %}
                                                                {% if service.id == demande.service.id %}
                                                                    <td>{{ service.NomService }}</td>
                                                                {% endif %}
                                                            {% endfor %}
                                                        
                                                    {% for user in users %}
                                                        {% if user == demande.User1 %}
                                                            <td>{{ user.NUMCIN }}: {{ user.username }}</td>
                                                        {% elseif user== demande.User2 %}
                                                            <td>{{ user.NUMCIN }}: {{ user.username }}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if demande.User2 == null %} 
                                                        <td></td>   
                                                    {% endif %}
                                                    {% if is_granted('ROLE_INFSER') and demande.reponse == " " %}


                                                        <td><button type="button" class="btn btn-warning" onclick="window.location.href='/demande/{{ demande.id }}/delete'" >Supprimer</button></td>
                                                        <td><button type="button" class="btn btn-warning" onclick="window.location.href='/demande/{{ demande.id }}/edit/{{ demande.malade.id }}'">Modifier</button></td>
                                                    {% elseif is_granted('ROLE_INFSER') and demande.reponse != " " %}
                                                        <td><button type="button" class="btn btn-warning" onclick="window.location.href='/demande/{{ demande.id }}/show'">Voir</button></td>
                                                    {% elseif app.user.poste == "Médecin de service" and  demande.User2 == null and demande.reponse == " " %}
                                                        <td><button type="button" class="btn btn-warning" onclick="window.location.href='/demande/{{ demande.id }}/valide'">Valider</button></td>
                                                    {% elseif app.user.poste == "Médecin de service" and  demande.User2 != null and demande.reponse != " " %}
                                                        <td><button type="button" class="btn btn-warning" onclick="window.location.href='/demande/{{ demande.id }}/feedback'">Commenter</button></td>
                                                    {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                {% if app.user.poste == "Technicien de laboratoire" and  demande.User2 != null %} 
                                                    {% if demande.reponse == " " %}
                                                        <tr>
                                                    {% else %}
                                                        <tr class="text-primary">
                                                    {% endif %}
                                                        <th scope="row">{{ demande.Id }}</th>
                                                        <td>{{ demande.DateDemande|date ('d/m/y à H:i') }}</td>
                                                        <td>{{ demande.DateUtilisation|date ('d/m/y à H:i') }}</td>
                                                        <td>{{ demande.TypeDemande }}</td>
                                                        <td>{{ demande.Type }}</td>
                                                        <td>{{ demande.NombrePoche }}</td>
                                                        <td>{{ demande.GS }}</td>
                                                        <td>{{ demande.serum }}</td>
                                                        {% for malade in malades %}

                                                            {% if malade == demande.Malade %}
                                                                <td>{{ malade.Malade }}: {{ malade.NumeroCin }}</td>
                                                                <td>{{ malade.NDossier }}</td>
                                                            {% endif %}
                                                            
                                                            {% for service in services %}
                                                                {% if service.id == demande.service.id %}
                                                                    <td>{{ service.NomService }}</td>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                    {% for user in users %}
                                                        {% if user == demande.User1 %}
                                                            <td>{{ user.NUMCIN }}: {{ user.username }}</td>
                                                        {% elseif user == demande.User2 %}
                                                            <td>{{ user.NUMCIN }}: {{ user.username }}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if demande.User2 == null %} 
                                                        <td></td>   
                                                    {% endif %}
                                                    {% if demande.reponse == " " %}
                                                        <td><button type="button" class="btn btn-warning" onclick="window.location.href='demande/{{ demande.id }}/reponse'">Répondre</button></td>
                                                        <td><button type="button" class="btn btn-warning" onclick="window.location.href='tc/{{ demande.id }}/new'">Test de compatibilité</button></td>
                                                    {% else %}
                                                        <td><button type="button" class="btn btn-warning" onclick="window.location.href='/demande/{{ demande.id }}/show'">Voir</button></td>
                                                    {% endif %}
                                                    </tr>
                                                {% endif %}




                                                <!-- MESSAGE BOX-->
                                                <div class="message-box animated fadeIn" data-sound="alert" id="mb-delate">
                                                    <div class="mb-container">
                                                        <div class="mb-middle">
                                                            <div class="mb-title"><span class="fa fa-sign-out"></span>Déconnexion <strong>???</strong> ?</div>
                                                            <div class="mb-content">
                                                                <p>Supprimer ?</p>                    
                                                                <p>Voulez-vous vraiment supprimer cette demande ??</p>
                                                            </div>
                                                            <div class="mb-footer">
                                                                <div class="pull-right">
                                                                    <a href="window.location.href='/demande/{{ demande.id }}/delete" class="btn btn-success btn-lg">Oui</a>
                                                                    <button class="btn btn-default btn-lg mb-control-close">Non</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END MESSAGE BOX-->

                                                <!-- START PRELOADS -->
                                                <audio id="audio-alert" src="{{ asset ('audio/alert.mp3')}}" preload="auto"></audio>
                                                <audio id="audio-fail" src="{{ asset ('audio/fail.mp3')}}" preload="auto"></audio>
                                                <!-- END PRELOADS -->
                                            {% endfor %}

                                        </tbody>
                                </table>
                               </div>
       
{% else %}
<p>Vos droits d'utilisateur sont insuffisants pour l'opération demandée!</p>
{% endif %}
{% endblock %}