{% extends 'base.html.twig' %}
{% if is_granted('ROLE_MEDSER') %}
{% form_theme formfb 'bootstrap_4_layout.html.twig' %}
{% endif %}
{% block body %}

{% if not app.user %}
<p>Connectez-vous pour effectuer cette opération</p>
{% elseif is_granted('ROLE_INFSER') or is_granted('ROLE_MEDSER') or  app.user.poste == "Technicien de laboratoire"  %}
 



                    <div class="page-content-wrap">
                    
                   
                    
                    <div class="row">
                        <div class="col-md-12">
                            
                            <!-- START TIMELINE -->
                            <div class="timeline">
                                
                                <!-- START TIMELINE ITEM -->
                                <div class="timeline-item timeline-main">
                                    <div class="timeline-date">Demande</div>
                                </div>
                                <!-- END TIMELINE ITEM -->
                                
                                <!-- START TIMELINE ITEM -->
                                <div class="timeline-item">
                                    <div class="timeline-item-info">N°:  <span class="float-right">{{ demande.id }}</div>
                                    <div class="timeline-item-icon"><span class="fa fa-globe"></span></div>
                                    <div class="timeline-item-content">
                                        <div class="timeline-heading">
                                        </div>
                                        <div class="timeline-body">
                                            <p>Date de création: {{ demande.DateDemande|date ('d/m/y à H:i')  }}</p>
                                            <p>Pour le: {{ demande.DateUtilisation|date ('d/m/y à H:i') }}</p>
                                            <p>Pour le: {{ demande.TypeDemande }}</p>
                                            <p>Type de poche: {{ demande.Type }}</p>
                                            <p>Nombre des poche: {{ demande.NombrePoche }}</p>
                                            <p>Groupe sanguin: {{ demande.GS }}</p>
                                            <p>Sérum: {{ demande.serum }}</p>
                                             {% for malade in malades %}
                                                            {% if malade == demande.Malade %}
                                                                <p>{{ malade.Malade }}: {{ malade.NumeroCin }}</p>
                                                                <p>{{ malade.NDossier }}</p>
                                                            {% endif %}
                                                        {% for service in services %}
                                                                    {% if service.id == demande.service.id %}
                                                                       <p> Service: {{ service.NomService }}</p>
                                                                    {% endif %}
                                                                {% endfor %}
                                                        {% endfor %}
                                                    {% for user in users %}
                                                        {% if user.id == demande.User1.id %}
                                                            <p>Cin: Nom & prénom Inférmiere de service: {{ user.NUMCIN }} : {{ user.Username }}</p>
                                                        {% elseif user.id == demande.User2.id %}
                                                            <p>Cin: Nom & prénom médecin de service: {{ user.NUMCIN }} : {{ user.Username }}</p>
                                                        {% endif %}
                                                    {% endfor %}
                                                                                     
                                        </div>
                                        <div class="timeline-body comments">
                                            <div class="comment-item">
                                                <p>Reponse: {{ demande.Reponse }}</p>
                                            </div>                                            
                                        </div>   
                                    </div>
                                </div>       
                                <!-- END TIMELINE ITEM -->
                                
                                <!-- START TIMELINE ITEM -->
                                 <div class="timeline-item timeline-item-right">
                                    <div class="timeline-item-info">Feedbacks</div>
                                    <div class="timeline-item-icon"><span class="fa fa-map-marker"></span></div>
                                    <div class="timeline-item-content"> 
                                    
                                        <div class="timeline-body comments">
                                            {% for fb in feedbacks %} 
                                            <div class="comment-item">
                                                <p class="comment-head">
                                                    {% for user in users %} {% if user.id == fb.User.id %}<p>Avec: {{ user.Username }}  Cin --> {{ user.NUMCIN }}</p>{% endif %}{% endfor %}</a> <span class="text-muted">{{ fb.Date|date('d/m/y à H:i')  }}</span>
                                                </p>
                                                <p>{{ fb.Feedback}}</p>
                                            </div>
                                            {% endfor %}
                                            {% if is_granted('ROLE_MEDSER') %}
                                                <div class="comment-write">   
                                                    {{ form_start(formfb) }}
                                                        {{ form_row(formfb.feedback)}}
                                                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                    {{form_end(formfb)}}                                              
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>                                
                                <!-- END TIMELINE ITEM -->
                                
                                
                                
                                <!-- START TIMELINE ITEM -->
                                <div class="timeline-item timeline-main">
                                    <div class="timeline-date">Demande de sang</div>
                                </div>
                                <!-- END TIMELINE ITEM -->
                                
                            </div>
                            <!-- END TIMELINE -->
                            
                        </div>
                    </div>
                    
                </div>
{% else %}
<p>Vos droits d'utilisateur sont insuffisants pour l'opération demandée!</p>
{% endif %}
{% endblock %}
