{% extends 'base.html.twig' %}


{% block body %}


{% if not is_granted('ROLE_ADMIN') %}
<p>Vos droits d'utilisateur sont insuffisants pour l'opération demandée!</p>
<p>Connectez-vous avec un compte "Administrateur" pour effectuer cette opération</p>
{% else %}

<div class="panel panel-default">
                                <div class="panel-heading ui-draggable-handle">
                                    <h3 class="panel-title">Les Congélateurs</h3>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary" onclick="window.location.href='/congelateur/createCong'"><i class="zmdi zmdi-plus"></i> Nouveau Congelateur</button>
                                    </div>
                                </div>
                                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer"><table class="table datatable_simple dataTable no-footer" id="DataTables_Table_1" role="grid"> 
                                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">                               
                                        <form role="form"  method="request" action="{{ path('search_congelateur') }} ">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="search" placeholder="Chercher">
                                                    <span class="input-group-addon" type="submit">chercher</span>
                                                </div>
                                        </form>
                                    </div>                                 
                                </div>

                                <div class="panel-body">
                                    <table id="customers" class="table table-striped">
                                
                                        <thead>
                                            <tr>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">Numéro</th>
                                                        <th scope="col">Capacité</th>
                                                        <th scope="col">Date de création </th>
                                                        <th scope="col"></th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    
                                                    {% for congelateur in congelateurs %}
                                                    {% if congelateur.existe == "oui" %}
                                                        <tr>
                                                            <td>{{ congelateur.type }}</td>
                                                            <td>{{ congelateur.numCong }}</td>
                                                            <td>{{ congelateur.capacite }}</td>
                                                            <td>{{ congelateur.dateCtCong|date ('d/m/y à H:i')  }}</td>
                                                            <td><button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/congelateur/{{ congelateur.id }}/edit'"><i class="fas fa-edit"></i> Modifier</button></td>
                                                            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" href="#infos"><i class="fa fa-ban"></i> Supprimer</button></td>
                                                    </tr>
                                                    {% endif %}
                                                    <div class="modal fade" id="infos">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal">x</button>
                                                                    <h4 class="modal-title">Confirmation</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Etes-vous sur de vouloir supprimer cet congelateur !
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button onclick="window.location.href='/congelateur/{{ congelateur.id }}/delete'" class="btn btn-info" data-dismiss="modal">OUI</button>
                                                                    <button class="btn btn-info" data-dismiss="modal">NON</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                          
                                                        {% endfor %}
                                                    </tbody>
                            </table>
                            
                    </div>
{% endif %}
{% endblock %}
