{% extends 'base.html.twig' %}

{% form_theme formCong 'bootstrap_4_layout.html.twig'%}

{% block body %}


{% if not is_granted('ROLE_ADMIN') %}
<p>Vos droits d'utilisateur sont insuffisants pour l'opération demandée!</p>
<p>Connectez-vous avec un compte "Administrateur" pour effectuer cette opération</p>
{% else %}
    <!-- ============================================================== -->
                        <!-- horizontal form -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Congélateur</h5><br><br>
                                <div class="card-body">
                                     {{ form_start(formCong) }}
                                        {{ form_row(formCong.type ,{'attr':{'placeholder':"Type de congélateur"}} )}}
                                        {{ form_row(formCong.numCong ,{'attr':{'placeholder':"le numéro de congélateur"}} )}}

                                        {{ form_row(formCong.capacite,{'attr':{'placeholder':"la capacité de congélateur"}} )}}
                                        </div>
                                        <div class="col-sm-6 pl-0">
                                                <p class="text-right"><br><br><br>
                                                    <button type="reset" value="Reset" class="btn btn-secondary">Vider</button>
                                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                </p>
                                        </div>  
                                    {{form_end(formCong)}} 
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end horizontal form -->
                        <!-- ============================================================== -->
           
{% endif %}
{% endblock %}