{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig'%}

{% block body %}

{% if not is_granted('ROLE_ADMIN') %}
<p>Vos droits d'utilisateur sont insuffisants pour l'opération demandée!</p>
<p>Connectez-vous avec un compte pour effectuer cette opération</p>
{% else %}
    <!-- ============================================================== -->
                        <!-- horizontal form -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Utilisateur du système</h5><br><br>
                                <div class="card-body">
                                {{ form_start(form) }}
                                        <div class="form-row">
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{ form_row(form.NUM_CIN ,{'label':'Nun Cin d\'utilisateur','attr':{'placeholder':'Num Cin d\'utilisateur ....'}} )}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{ form_row(form.username ,{'label':'Nom d\'utilisateur','attr':{'placeholder':'Nom d\'utilisateur ....'}} )}}                                      
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{ form_row(form.email ,{'label':'Adress email','attr':{'placeholder':'Adress email ....'}} )}}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{ form_row(form.poste ,{'label':'Poste d\'utilisateur','attr':{'placeholder':'Mot de passe ! '}} )}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{ form_row(form.password ,{'label':'Mot de passe','attr':{'placeholder':'Mot de passe ! '}} )}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{ form_row(form.confirm_password ,{'label':'Confirmation du mot de passe','attr':{'placeholder':'Répétez votre mot de passe'}} )}}
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pl-0">
                                                <p class="text-right"><br><br><br>
                                                    <button type="reset" value="Reset" class="btn btn-secondary">Vider</button>
                                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                </p>
                                        </div>  
                                    {{form_end(form)}} 
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end horizontal form -->
                        <!-- ============================================================== -->
{% endif %} 
{% endblock %}