{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig'%}
{% form_theme mdp 'bootstrap_4_layout.html.twig'%}
{% block body %}
{% if not app.user %}
<p>Vos droits d'utilisateur sont insuffisants pour l'opération demandée!</p>
<p>Connectez-vous avec un compte pour effectuer cette opération</p>
{% else %}
<div class="page-content-wrap">
                    
                    <div class="row">
                        <div class="col-md-3"><br><br><br><br><br><br><br><br><br><br><br>
                      <div class="panel panel-default">
                                <div class="panel-body profile" style="background: url('{{asset('favi222con.ico')}}') center center no-repeat;">
                                    <div class="profile-image">
                                        <img src="{{ asset ('assets/images/users/no-image.jpg')}}" alt="Nadia Ali">
                                    </div>
                                    <div class="profile-data">
                                        
                                    </div>
                                    <div class="profile-controls">

                                    </div>                                    
                                </div> 
                                <div class="panel-body list-group border-bottom">
                                    <a href="#" class="list-group-item"><span class="fa fa-user"></span> Mon N°Cin : {{ u.NUMCIN }}</a>                                
                                    <a href="#" class="list-group-item"><span class="fa fa-users"></span>  {{ u.username }}</a>
                                    <a href="#" class="list-group-item"><span class="fa fa-user"></span> Email: {{ u.email }}</a>
                                    <a href="#" class="list-group-item"><span class="fa fa-user"></span> Mon Poste: {{ u.poste }}</a>

                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="col-md-9">

                            <!-- START TIMELINE -->
                            <div class="timeline timeline-right">
                                
                                <!-- START TIMELINE ITEM -->
                                <div class="timeline-item timeline-main">
                                    <div class="timeline-date">Bienvenue</div>
                                </div>
                                <!-- END TIMELINE ITEM -->                                                  
                                
                                <!-- START TIMELINE ITEM -->
                                <div class="timeline-item timeline-item-right">
                                    <div class="timeline-item-info">Modifier</div>
                                    <div class="timeline-item-icon"><span class="fa fa-info-circle"></span></div>                                   
                                    <div class="timeline-item-content">
                                        <div class="timeline-heading" style="padding-bottom: 10px;">
                                            <a href="#">Modifier</a> mes informations 
                                        </div>
                                        {{ form_start(form) }}                                        
                                        <div class="timeline-body comments">
                                            <div class="comment-item">
                                                
                                                    {{ form_row(form.NUM_CIN ,{'label':'Nun Cin d\'utilisateur','attr':{'placeholder':'Num Cin d\'utilisateur ....'}} )}}
                                                
                                            </div>                                            
                                            <div class="comment-item">
                                                
                                                    {{ form_row(form.username ,{'label':'Nom d\'utilisateur','attr':{'placeholder':'Nom d\'utilisateur ....'}} )}}                                   
                                                
                                            </div>                                            
                                            <div class="comment-item">                                                
                                                {{ form_row(form.email ,{'label':'Adress email','attr':{'placeholder':'Adress email ....'}} )}}                                                
                                            </div>
                                            <div class="comment-item">                                                
                                                <button type="submit" class="fileinput btn-primary btn-block">Enregistrer</button>
                                            </div>
                                        </div>
                                        {{form_end(form)}}
                                    </div>                                    
                                </div>       
                                <!-- END TIMELINE ITEM -->

                                <!-- START TIMELINE ITEM -->
                               <!-- START TIMELINE ITEM -->
                                <div class="timeline-item timeline-item-right">
                                    <div class="timeline-item-info">Modifier</div>
                                    <div class="timeline-item-icon"><span class="fa fa-unlock-alt"></span></div>                                   
                                    <div class="timeline-item-content">
                                        <div class="timeline-heading" style="padding-bottom: 10px;">
                                            <a href="#">Modifier</a> mon mot de passe 
                                        </div>
                                        {{ form_start(mdp) }}                                        
                                        <div class="timeline-body comments">
                                            <div class="comment-item">
                                                {{ form_row(mdp.password ,{'label':'Mot de passe','attr':{'placeholder':'Mot de passe ! '}} )}}
                                            </div>                          
                                            <div class="comment-item">   
                                                {{ form_row(mdp.confirm_password ,{'label':'Confirmation du mot de passe','attr':{'placeholder':'Répétez votre mot de passe'}} )}}
                                             </div>
                                            <div class="comment-item">                                                
                                                <button type="submit" class="fileinput btn-primary btn-block">Enregistrer</button>
                                            </div>
                                        </div>
                                        {{form_end(mdp)}}
                                    </div>                                    
                                </div>      
                                <!-- END TIMELINE ITEM -->                                                                
                                
                            </div>
                            <!-- END TIMELINE -->                            
                            
                        </div>
                        
                    </div>

                </div>

{% endif %} 
{% endblock %}