{% extends 'base.html.twig' %}


{% block body %}


{% if not is_granted('ROLE_ADMIN') %}
<p>Vos droits d'utilisateur Windows sont insuffisants pour l'opération demandée!</p>
<p>Connectez-vous avec un compte "Administrateur" pour effectuer cette opération</p>
{% else %}

<div class="panel panel-default">
                                <div class="panel-heading ui-draggable-handle">
                                    <h3 class="panel-title">Les services médicaux</h3>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary" onclick="window.location.href='/service/createSer'"><i class="fa fa-plus"></i> Nouveau service</button>
                                    </div>
                                </div>
                                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer"><table class="table datatable_simple dataTable no-footer" id="DataTables_Table_1" role="grid"> 
                                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">                               
                                        <form role="form"  method="request" action="{{ path('search_service') }} ">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="search" placeholder="Chercher">
                                                    <span class="input-group-addon" type="submit">chercher</span>
                                                </div>
                                        </form>
                                    </div>                                 
                                </div>

                                <div class="panel-body">
                                    <table id="customers" class="table table-striped">
                                
                                        <thead>
                                            <tr>
    
                                                    <th scope="col">Service</th>
                                                    <th scope="col">Chef de service</th>
                                                    <th scope="col">Capacité</th>
                                                    <th scope="col">Date de création </th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                {% for service in services %}
                                                    <tr>
                                                        <td>{{ service.NomService }}</ts>
                                                        <td>{{ service.ChService }}</td>
                                                        <td>{{ service.Capacite }}</td>
                                                        <td>{{ service.dateCtSer|date ('d/m/y à H:i') }}</td>
                                                        <td><button type="button" class="btn btn-warning" onclick="window.location.href='/service/{{ service.id }}/edit'"><i class="fa fa-edit"></i> Modifier</button></td>
                                                       

                                                    </tr>
                                                    
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                
                    </div>
                   
{% endif %}
{% endblock %}
