{% extends 'base.html.twig' %}

{% form_theme formDonneur 'bootstrap_4_layout.html.twig'%}



{% block body %}


{% if not is_granted('ROLE_AGACC') %}
<p>Vos droits d'utilisateur sont insuffisants pour l'opération demandée!</p>
<p>Connectez-vous avec un compte "Agent d'accueil" pour effectuer cette opération</p>
{% else %}
    
                        <!-- ============================================================== -->
                        <!-- horizontal form -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Donneur de sang</h5>
                                <div class="card-body">
                                     {{ form_start(formDonneur) }}
                                        <div class="form-row">
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formDonneur.nom, {'attr' : {'placeholder' :"Nom du donneur..."}} )}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formDonneur.prenom, {'attr' : {'placeholder' :"prenom du donneur..."}} )}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formDonneur.sexe)}}
                                            </div>
                                        </div>
                                        
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formDonneur.date_de_naissance)}}
                                            </div>
                                            
                                        <div class="form-row">
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formDonneur.prenom_pere,{'label':'Nom de père ','attr' : {'placeholder' :"Nom et prénom du père"}} )}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formDonneur.prenom_mere, {'label':'Nom de mère ','attr' : {'placeholder' :"Nom et prénom du mère"}} )}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formDonneur.etat_civil)}}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formDonneur.NUM_CIN, {'attr' : {'placeholder' :"Numéro carte CIN "}} )}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formDonneur.Adresse_complete, {'attr' : {'placeholder' :"Adresse compléte.... "}} )}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formDonneur.numero_telephone, {'attr' : {'placeholder' :"Numéro du téléphone....."}} )}}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formDonneur.profession, {'attr' : {'placeholder' :"Profession...."}} )}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formDonneur.origine, {'attr' : {'placeholder' :"L'origine du donneur ..."}} )}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formDonneur.Dons_anterieurs )}}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formDonneur.Dons_anterieurs_volontaires, {'attr' : {'placeholder' :"Nombre de Dons antérieur volontaire"}} )}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formDonneur.Dons_anterieurs_familiaux, {'attr' : {'placeholder' :"Nombre de Dons antérieur Familiaux"}} )}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formDonneur.donneur_convocable)}}
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                            {{form_row(formDonneur.DateDuDernierDon)}}
                                        </div>
                                        <div class="col-sm-6 pl-0">
                                                <p class="text-right">
                                                    <button type="reset" value="Reset" class="btn btn-secondary">Vider</button>
                                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                </p>
                                        </div>  
                                    {{form_end(formDonneur)}} 
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end horizontal form -->
                        <!-- ============================================================== -->
{% endif %}

{% endblock %}

