{% extends 'base.html.twig' %}

{% form_theme formtube 'bootstrap_4_layout.html.twig'%}

 
{% block body %}

{% if not is_granted('ROLE_INFPRE') %}
<p>Vos droits d'utilisateur sont insuffisants pour l'opération demandée!</p>
<p>Connectez-vous avec un compte "Infirmière de prélèvement" pour effectuer cette opération</p>
{% else %}


                                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer">
                                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">                               
                                        <form role="form"  method="request" action="{{ path('fiche_search') }}">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="search" placeholder="Cin Donneur ??">
                                                    <span class="input-group-addon" type="submit">Fiche Médicale</span>
                                                </div>
                                        </form>
                                    </div>                                 
                                </div>
<br><br><br><br><br><br>
    <!-- ============================================================== -->
                        <!-- horizontal form -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Enregistrer les tubes des analyses biologiques</h5>
                                <br><br><br><br>
                                    <div class = "col-md-12">
                                            {{ form_start(formtube) }}
                                                {{form_row(formtube.N_ordre, {'attr' : {'placeholder' :"N°ordre"}} )}}
                                                
                                                        <div class="form-row">
                                                            
                                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">                                      
                                                                {{form_row(formtube.NomDonneur, {'attr' : {'placeholder' :"Nom du donneur"}} )}}
                                                            </div>
                                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">                                      
                                                                {{form_row(formtube.PrenomDonneur, {'attr' : {'placeholder' :"Prenom du donneur"}} )}}
                                                            </div>
                                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">                             
                                                                {{form_row(formtube.CinDonneur, {'attr' : {'placeholder' :"N°cin du donneur"}} )}}
                                                            </div><br><br>   
                                                        </div>
                                                        <br><br><br>
                                                                <p class="text-right">
                                                                    <button type="reset" value="Reset" class="btn btn-secondary">Vider</button>
                                                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                                </p>
                                                        </div>
                                                {{form_end(formtube)}}
                                    </div>           
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end horizontal form -->
                        <!-- ============================================================== -->
{% endif %}
 {% endblock %}