{% extends 'base.html.twig' %}
{% form_theme formficheedit 'bootstrap_4_layout.html.twig'%}

 
{% block body %}

{% if not is_granted('ROLE_INFPRE') %}
<p>Vos droits d'utilisateur sont insuffisants pour l'opération demandée!</p>
<p>Connectez-vous avec un compte "Infirmière de prélèvement" pour effectuer cette opération</p>
{% else %}
{% if fiche %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Fiche médicale</h5>
                                <div class="card-body">
                                     {{ form_start(formficheedit) }}
                                                                               
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.num_donneur)}}
                                            </div>
                                            
                                        <div class="form-row">
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.taille)}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.poids)}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.groupe, {'attr' : {'placeholder' :"Groupe sanguin "}} )}}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.RAA)}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.Paludisme)}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.Maladie_pulmonaire)}}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.Ictere)}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.Diabete)}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.Autre)}}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.T_A, {'attr' : {'placeholder' :""}} )}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.Coeur, {'attr' : {'placeholder' :""}} )}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.Appariel_Respiratoire, {'attr' : {'placeholder' :""}} )}}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.Foie, {'attr' : {'placeholder' :""}} )}}                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.Rate, {'attr' : {'placeholder' :""}} )}} 
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.Systeme_nerveux, {'attr' : {'placeholder' :""}} )}} </br>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.ApteInapte)}}
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.Rate, {'attr' : {'placeholder' :""}} )}} 
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                                {{form_row(formficheedit.Observations, {'attr' : {'placeholder' :""}} )}} </br>
                                            </div>
                                        </div>
                                        {{form_row(formficheedit.N_ordre, {'attr' : {'placeholder' :"N° d'ordre"}} )}}
                                        

                                        <div class="col-sm-6 pl-0">
                                                <p class="text-right">
                                                    <button type="reset" value="Reset" class="btn btn-secondary">Vider</button>
                                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                </p>
                                        </div>  
                                    {{form_end(formficheedit)}} 
                                </div>
                            </div>
                        </div>
    {% else %}<h3>Vérifier N° Cin de donneur</h3>{% endif %}
{% endif %}
 {% endblock %}