{% extends 'base.html.twig' %}

{% block body %}
  {% if fiche %}
                    <div class="panel panel-success push-up-20">
                                <div class="panel-body panel-body-pricing">
                                <div class= "row">
                                  <div class="col-md-6">
                                    <h2>N° fiche: {{ fiche.id }}</h2>   
                                                                        <p><span class="fa fa-caret-right"></span> Donneur N°: {{ fiche.NumDonneur }}</p>                             
                                    <p><span class="fa fa-caret-right"></span> Nom & prénom du donneur:{{ fiche.nom }} {{  fiche.prenom }}</p>
                                    <p><span class="fa fa-caret-right"></span> ApteInapte: {{ fiche.ApteInapte }}</p>
                                    <p><span class="fa fa-caret-right"></span> Numéro carte CIN: {{ fiche.NumeroCIN }}</p>
                                    <p><span class="fa fa-caret-right"></span> date de naissance: {{ fiche.DateDeNaissance|date ('d/m/y') }}</p>
                                    <p><span class="fa fa-caret-right"></span> taille: {{ fiche.taille }}</p>
                                    <p><span class="fa fa-caret-right"></span> poids: {{ fiche.poids }}</p>
                                    <p><span class="fa fa-caret-right"></span> Le groupe: {{ fiche.groupe }}</p>
                                    <p><span class="fa fa-caret-right"></span> DRAA: {{ fiche.RAA }}</p>
                                    <p><span class="fa fa-caret-right"></span> Paludisme: {{ fiche.Paludisme }}</p>
                                    <p><span class="fa fa-caret-right"></span> Maladie pulmonaire: {{ fiche.Maladiepulmonaire }}</p>
                                    <p><span class="fa fa-caret-right"></span> Ictere: {{ fiche.Ictere }}</p>
                                  </div>  
                                  <div class="col-md-6">
                                    
                                    <p><span class="fa fa-caret-right"></span> Diabete: {{ fiche.Diabete }}</p>
                                    <p><span class="fa fa-caret-right"></span> Autre: {{ fiche.Autre }}</p>
                                    <p><span class="fa fa-caret-right"></span> T_A: {{ fiche.TA }}</p>
                                    <p><span class="fa fa-caret-right"></span> Coeur: {{ fiche.Coeur }}</p>
                                    <p><span class="fa fa-caret-right"></span> Appariel Respiratoire: {{ fiche.ApparielRespiratoire }}</p>
                                    <p><span class="fa fa-caret-right"></span> Foie: {{ fiche.Foie }}</p>

                                    <p><span class="fa fa-caret-right"></span> Rate: {{ fiche.Rate }}</p>
                                    <p><span class="fa fa-caret-right"></span> Systeme nerveux: {{ fiche.SystemeNerveux }}</p>
                                    <p><span class="fa fa-caret-right"></span> Observations: {{ fiche.Observations }}</p>
                                    <p><span class="fa fa-caret-right"></span> Nom & prenom du medecin: {{ user.username }}</p>
                                    <p><span class="fa fa-caret-right"></span> Cin du Medecin: {{ user.NUMCIN }}</p>
                                  </div>
                                </div>
                                
                            </div>
  {% else %}
  <p> fiche inexiste </p>
  {% endif %}
 {% endblock %}