{% extends 'base.html.twig' %}

{% block body %}

<!-- Affichage de sérologie avec Modifier, enregistre ou supprimer-->
{% if not app.user %}
<p>Connectez-vous avec un compte "Technicien de laboratoire" pour effectuer cette opération</p>
<p>Vos droits d'utilisateur sont insuffisants pour l'opération demandée!</p>
{% elseif app.user.poste == "Technicien de laboratoire"  %}
<div class= "col-md-3">
<div class="timeline timeline-right">
                                
                                <!-- START TIMELINE ITEM -->
                                <div class="timeline-item timeline-main">
                                    <div class="timeline-date">N° d'ordre {{ serologie.NOrdre }}</div>
                                </div>
                                <!-- END TIMELINE ITEM -->
                                
                                <!-- START TIMELINE ITEM -->
                                <div class="timeline-item timeline-item-right">
                                    <br><br><br><br><br><br><br><br><br><br>
                                    <br><br><br><br><br><br><br><br><br><br><br>
                                </div>       
                                <!-- END TIMELINE ITEM -->
                             
                                
                                
                                <!-- START TIMELINE ITEM -->
                                <div class="timeline-item timeline-main">
                                    <div class="timeline-date"><span>Resultat: {{ serologie.ResultatSerologie }}<span></div>
                                </div>                                
                                <!-- END TIMELINE ITEM -->
                            </div>
</div>
<div class="col-md-9">


                            <div class="panel panel-default">                            
                                <div class="panel-body panel-body-image">
                                    <img src="{{ asset ('assets/images/bs_12.jpg')}}" alt="Ocean">
                                    
                                </div>
                                <div class="panel-body">
                                
											  
                                            
                                    <p>{{ serologie.DateDeJour|date ('d/m/y à H:i')  }}
                                    
                                            <table class="col-md-12">
                                                 <tr>   
                                                    <td><p>A utiliser avant: {{ serologie.AUtiliserAvant|date ('d/m/y à H:i') }}</p></td>
                                                    <td><p>N°cin du donneur: {{ serologie.CinDonneur }}</p></td>
                                                </tr>
                                            
                                            <tr>   
                                                    <td><p>Nom & Prenom donneur: {{ serologie.NomDonneur }} {{ serologie.PrenomDonneur }}</p></td>
											        <td><p>GS: {{ serologie.GroupeSanguin }}</p></td>
                                            </tr>
                                            
                                                {% for user in users %}
                                                    {% if user == serologie.User1 %}
                                                       <tr><td><p> Technicien 1: </td><td>N°Cin : {{ user.NUMCIN }}</td><td> Nom & prénom : {{ user.Username }}</p></td></tr>
                                                    {% elseif user == serologie.User2 %}
                                                       <tr><td><p>Technicien 2 --> {{ user.NUMCIN }} Nom {{ user.Username }}</p></td></tr>
                                                {% endif %}
                                            {% endfor %}
                                               
                                        <tr>
                                            <td><p>AGHBR: {{ serologie.AGHBR }}</p></td>
                                            <td><p>ACHCV: {{ serologie.ACHCV }}</p></td>
                                        </tr>
                                        <tr>
                                            <td><p>TPHA: {{ serologie.TPHA }}</p></td>
                                            <td><p>HIV: {{ serologie.HIV }}<p></td>
                                        </tr>
                                        </table>
                                               
                            </div>

                        
</div>
{% endif %}
{% endblock %}