{% extends 'base.html.twig' %}

{% block body %}
{% if not app.user %}
<p>Connectez-vous avec un compte "Technicien de laboratoire" pour effectuer cette opération</p>

<p>Vos droits d'utilisateur sont insuffisants pour l'opération demandée!</p>
{% elseif app.user.poste == "Technicien de laboratoire"  %}
                            <div class="panel panel-default">
                                <div class="panel-heading ui-draggable-handle">
                                    <h3 class="panel-title">Les sérologies des poches de sang</h3>
                                    <div class="pull-right">
                                        <button class="btn btn-info toggle"  onclick="window.location.href='/tubes/a/tester'" data-toggle="exportTable"><i class="fa fa-plus"></i> Nouvelle sérologie</button>
                                    </div>
                                </div>
                                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer"><table class="table datatable_simple dataTable no-footer" id="DataTables_Table_1" role="grid"> 
                                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">                               
                                        <form role="form"  method="request" action="{{ path('search_serologie') }}">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="search" placeholder="N° Ordre??">
                                                    <span class="input-group-addon" type="submit">chercher</span>
                                                </div>
                                        </form>
                                    </div>                                 
                                </div>

                                <div class="panel-body">
                                    <table id="customers" class="table table-striped">
                                
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>N°ordre</th>
                                                <th>Avant</th>
                                                <th>Donneur </th>
                                                <th>N°Cin</th>
                                                <th>GS</th>
                                                <th>Résultat</th>
                                                <th></th>
                                                <th></th>
                                                
                                        </thead>
                                        <tbody>
                                            {% for serologie in serologies %}  
                                            {% if serologie.ResultatSerologie == " " %}
                                                <tr class="text-danger">
                                            {% else %}
                                                <tr class = "text-primary">
                                            {% endif %}                                
                                                <td>{{ serologie.DateDeJour|date ('d/m/y à H:i')  }}</td>
                                                <td>{{ serologie.NOrdre }}</td>
                                                <td>{{ serologie.AUtiliserAvant|date ('d/m/y à H:i') }}</td>

                                                
                                                <td>{{ serologie.NomDonneur }} {{ serologie.PrenomDonneur }}</td>
                                                <td>{{ serologie.CinDonneur }}</td>
                                                <td>{{ serologie.GroupeSanguin }}</td>
                                                <td>{{ serologie.ResultatSerologie }}</td>
                                                <td><button type="button" class="btn btn-warning" onclick="window.location.href='/serologie/show/{{ serologie.id }}'">Afficher</button></td>
                                                
                                                {% if serologie.ResultatSerologie == " " %}
                                                    <td><button type="button" class="btn btn-warning" onclick="window.location.href='/serologie/{{ serologie.id }}/edit'">Modifier </button></td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>


{% else %}
<p>Vos droits d'utilisateur sont insuffisants pour l'opération demandée!</p>
{% endif %}
{% endblock %}
